body {
  font-family: Arial;
  background:#0c1320;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

#app {
  width:90%;
  max-width:400px;
  text-align:center;
}

section {
  background:#161f35;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 20px #000;
}

h1 {
  margin-bottom:10px;
}

input {
  width:90%;
  padding:10px;
  margin:10px;
  border-radius:5px;
  border:none;
}

button {
  width:94%;
  padding:10px;
  margin:10px;
  border:none;
  border-radius:5px;
  background:#4CAF50;
  color:white;
  font-size:16px;
  cursor:pointer;
}

button:hover {
  opacity:0.9;
}

.hidden {
  display:none;
}
